<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/page/PW.css">
	<title>PW</title>
</head>
<body>
	<div id="app">
		<h3>暗唱番号を入力してください</h3>
		<ul class="list">
			<li class="box"><input class="input-box" type="tell" v-model="num1" maxlength="1" @input="goNext" id="1" ref="1"></li>
			<li class="box"><input class="input-box" type="tell" v-model="num2" maxlength="1" @input="goNext" id="2" ref="2"></li>
			<li class="box"><input class="input-box" type="tell" v-model="num3" maxlength="1" @input="goNext" id="3" ref="3"></li>
			<li class="box"><input class="input-box" type="tell" v-model="num4" maxlength="1" @input="goNext" id="4" ref="4"></li>
		</ul>

		<button class="button">認証する</button>
	</div>
	<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
	<script src="js/PW.js"></script>
</body>
</html>
